* {
    font-family: Helvetica, Arial, sans-serif;
}

#title, .title-small {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 1000;
}

.para-standard {
    color: rgb(0, 0, 0, 0.75);
    font-size: 20px;
}

.list {
    font-size: 24px;
}

.title-small {
    font-size: 36px;
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
}

.list-child, .list-child > a {
    color: rgb(0, 0, 0, 0.95);
}